name: Publish Maven Package

on:
  push:
    branches:
      - main  # Trigger the workflow on push to the main branch

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '11'  # Specify the version of Java you need
          distribution: 'adopt-openjdk'

      - name: Build and Publish
        run: ./gradlew publish
        env:
          USERNAME: ${{ secrets.GITHUB_ACTOR }}
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
